{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='sign.css')}}">

 <div class="form">
        <form action="/sign-submit" method="POST" class="register">
                <p class="form-group">{{form.name.label}}</p>
                <p class="form-group">{{form.name}}</p>
         
                <p class="form-group">{{form.comment.label}}</p>
                <p class="form-group">{{form.comment}}</p>
         
               
                <p class="form-group">{{form.sign}}</p>
         
            </form>

            

 </div>

{% endblock content %}